.dark-violet-theme {
	--bkg-0: #340933;
	--bkg-0-tr: #34093399;
	--bkg-1: #B814B2;
	--bkg-1-tr: #B814B299;
	--bkg-2: #9A0794;
	--bkg-2-tr: #9A079499;
	--frg-0: #F5F7D4;
	--frg-0-tr: #F5F7D499;
	--frg-1: #E4F132;
	--frg-1-tr: #E4F13299;
	--red: #fb0909;
	--yellow: #fbfb09;
	--orange: #fb8209;
	--green: #09fb09;
	--blue: #09bffb;

	--bkg-image: url("/src/assets/graphics/svg/bkg-violet.svg");

	--xx-small: 0.1rem;
	--x-small: 0.25rem;
	--small: 0.5rem;
	--medium: 1rem;
	--large: 2rem;
	--x-large: 4rem;
	--xx-large: 8rem;
}