.light-theme {
	--bkg-0: #ffffff;
	--bkg-0-tr: #ffffff99;
	--bkg-1: #d4ecff;
	--bkg-1-tr: #d4ecff99;
	--bkg-2: #b7e1ff;
	--bkg-2-tr: #b7e1ff99;
	--frg-0: #000000;
	--frg-0-tr: #00000099;
	--frg-1: #005799;
	--frg-1-tr: #00579999;
	--red: #c23d3d;
	--yellow: #c2c23d;
	--orange: #c2803d;
	--green: #5ec23d;
	--blue: #3da1c2;

	--bkg-image: url("/src/assets/graphics/svg/bkg-light.svg");

	--xx-small: 0.1rem;
	--x-small: 0.25rem;
	--small: 0.5rem;
	--medium: 1rem;
	--large: 2rem;
	--x-large: 4rem;
	--xx-large: 8rem;
}