.light-theme {
	--bkg-0: #FFFFFF;
	--bkg-0-tr: #FFFFFF55;
	--bkg-1: #FAFBF4;
	--bkg-1-tr: #FAFBF455;
	--bkg-2: #dfecff;
	--bkg-2-tr: #D7DEAB55;
	--frg-0: #3d6fb9;
	--frg-0-tr: #3d6fb9aa;
	--frg-1: #3db899;
	--frg-1-tr: #3db89955;
	--red: #c23d3d;
	--yellow: #c2c23d;
	--orange: #c2803d;
	--green: #5ec23d;
	--blue: #3da1c2;

	--xx-small: 0.1rem;
	--x-small: 0.25rem;
	--small: 0.5rem;
	--medium: 1rem;
	--large: 2rem;
	--x-large: 4rem;
	--xx-large: 8rem;
}