@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		display: initial;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes color-phase--blue {
	0% {
		text-shadow: 0 0 var(--medium) var(--blue);
	}
	100% {
		text-shadow: 0 0 var(--xx-large) var(--blue);
	}
}

@keyframes color-phase--black {
	0% {
		text-shadow: 1rem 0 var(--medium) black;
	}
	100% {
		text-shadow: -1rem 0 var(--medium) black;
	}
}