input[type="checkbox"] {
	accent-color: var(--frg-1);
	background: var(--bkg-2);
	border: none;
	outline: none;
}
input[type="slider"] {
	accent-color: var(--frg-1);
	background: var(--bkg-2);
}


.btn {
	color: var(--frg-0);
}
