/* colors */
.is-blue {
	color: var(--blue);
}

/* flex */
.is-flex {
	display: flex;
}
.is-flex-end {
	justify-self: flex-end;
}

.is-centered-all {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* util */
.is-not-selectable {
	user-select: none;
}

.is-inline {
	display: inline;
}