/* size */
.w-100 {
	width: 100%;
}
.w-15 {
	width: 15%;
}


/* colors */
.is-blue {
	color: var(--blue);
}
.is-red {
	color: var(--red);
}
.is-green {
	color: var(--green);
}
.is-yellow {
	color: var(--yellow);
}
.is-frg-0 {
	color: var(--frg-0);
}
.is-frg-1 {
	color: var(--frg-1);
}

/* flex */
.is-flex {
	display: flex;
}
.is-flex-end {
	justify-self: flex-end;
}
.is-flex-start {
	justify-self: flex-start;
}
.is-column {
	display: flex;
	flex-direction: column;
}
.is-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.is-centered-all {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* util */
.is-not-selectable {
	user-select: none;
}
.is-text-selectable {
	user-select: text;
}
.is-all-selectable {
	user-select: all;
}
.is-inline {
	display: inline;
}
.is-hidden {
	display: none;
}