@font-face {
	font-family: 'RobotoCondensed-Italic';
	src: url('../assets/fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
}
