@import url("./styles/index.css");


* {
  font-family: "RobotoCondensed-Regular";
  box-sizing: border-box;
  color: var(--frg-0);
  stroke: var(--frg-0);
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: "RobotoCondensed-Regular";
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: var(--x-large);
}

h1, h2, h3, h4 {
  font-weight: normal;
}

button {
  width: 10vw;
  padding: var(--small) var(--x-small);
  color: var(--frg-0);
  background: var(--bkg-1);
  border: none;
  border-radius: var(--x-small);
  font-size: var(--medium);
}

button:hover {
  background: var(--frg-1);
  color: var(--bkg-0);
}

button:active {
  background: var(--bkg-1-tr);
}

label {
  color: var(--frg-0);
  font-size: var(--medium);
}

input {
  outline: none;
  font-size: var(--medium);
}

select {
  background: var(--bkg-0);
  color: var(--frg-0);
  outline: none;
  border: none;
  font-size: var(--medium);
}

.container {
  width: 100%;
  height: 100%;
}

.header-title {
  padding-top: 10vh;
  font-size: var(--xx-large);
}

roll-container {
  width: 100%;
  height: 100%;
}

roll-page {
  background-color: var(--bkg-0);
}

roll-page h1 {
  text-align: center;
}

x-toggle.settings-toggle {
  position: absolute;
  top: 2vh;
  left: 2vw;
  background: var(--bkg-0);
  color: var(--frg-1);
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
x-toggle.settings-toggle p {
  padding: var(--small);
}
x-toggle[closed="false"].settings-toggle p {
  color: var(--frg-0);
  box-shadow: 0 0 4px -2px var(--frg-0) inset;
}
x-toggle[closed="true"].settings-toggle p {
  color: var(--frg-1);
  box-shadow: 0 0 4px -2px var(--frg-1) inset;
}

#settings {
  position: absolute;
  width: 60vw;
  top: 5vw;
  left: 20vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: var(--bkg-0);
  overflow: hidden;
  box-shadow: 0 0 var(--xx-small) var(--frg-1-tr);
}
#settings[closed=true] {
  opacity: 0;
  outline: none;
}
#settings settings-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
#settings settings-panel setting-category {
  display: flex;
  flex-direction: column;
  padding: var(--large);
}
#settings settings-panel setting-category h3 {
  color: var(--frg-1);
}
#settings settings-panel setting-category hr {
  background: var(--frg-1-tr);
  border: none;
  height: 1px;
}
#settings settings-panel setting-category setting-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 25vw;
  min-height: 3vh;
  padding: var(--medium);
  color: var(--red);
}
#port-scanner-interval-label {
  color: var(--frg-0);
}

port-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}
port-table table {
  width: 80vw;
  outline: 1px solid var(--bkg-1);
}
port-table table th {
  color: var(--frg-1);
  background-color: var(--bkg-0-tr);
  text-decoration: none;
  font-size: var(--large);
  font-weight: normal;
  padding: var(--medium);
  text-align: center;
  border-bottom: 1px solid var(--bkg-1);
}
port-table table tr {
  background: var(--bkg-0);
}
port-table table tr:nth-child(n+1) {
  background: var(--bkg-1);
}
port-table table td {
  color: var(--frg-0);
  padding: var(--small);
  text-align: center;
  font-size: var(--large);
}

.port-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium);
  max-width: 320px;
  height: 64px;
  /* background: var(--bkg-2); */
  background: linear-gradient(to right, var(--bkg-1), var(--bkg-2));
}

.port-option label {
  /* width: 50%; */
  background: var(--bkg-1);
}

.port-option select {
  background: transparent;
  color: var(--frg-0);
  font-size: var(--medium);
  outline: none;
  border: none;
  width: 50%;
}

.port-option select.is-hidden {
  display: none;
}

.port-option select option {
  background: var(--bkg-0);
  color: var(--frg-0);
  font-size: var(--medium);
  outline: none;
  border: none;
}
.port-option input {
  width: 50%;
  font-size: var(--medium);
  background: var(--bkg-1);
  color: var(--frg-0);
  border: none;
}

.port-option input[type="checkbox"] {
  width: 65%;
  font-size: var(--medium);
  background: var(--bkg-1);
  color: var(--frg-0);
  border: none;
}

.port-option input:focus {
  background: var(--bkg-2);
}
.port-option input.is-hidden {
  display: none;
}
.port-option select.is-hidden {
  display: none;
}

on-off {
  padding: var(--medium);
}
on-off[on=true] {
  color: var(--green);
}
on-off[on=false] {
  color: var(--red);
}
on-off[on=true] label {
  text-align: center;
}
on-off[on=true] label {
  color: var(--green);
}
on-off[on=false] label {
  color: var(--red);
}


@media screen and (max-width: 1000px){
  h1 {
    font-size: var(--small);
  }

  label {
    width: 100%;
  }
  
  button {
    width: 128px;
  }

  .header-title {
    font-size: var(--x-large);
  }

  x-toggle.settings-toggle {
    position: absolute;
    top: 1%;
    left: 1%;
  }

  #settings {
    width: 100%;
    top: 12vw;
    left: 0;
    overflow-x: hidden;
    box-shadow: none;
  }

  #settings settings-panel {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #settings settings-panel setting-category {
    width: 100%;
    padding: var(--medium);
  }

  #settings settings-panel setting-category hr {
    background: var(--frg-1-tr);
    border: none;
    height: 1px;
  }

  #settings settings-panel setting-category setting-item {
    margin-bottom: var(--xx-small);
  }

}
@media screen and (min-width: 1200px){}